<div ng-controller="albumCtrl as albCtrl"> 
    <div>
        <button type="button" class="btn btn-primary" ui-sref="addAlbumState">Add New Album</button>
    </div> 
    <div n-items-in-row n="3" controller="albCtrl" items="albums" 
    row-template="/albumListRowPartial">
        
    </div>
    [{albCtrl.albums ? albCtrl.albums.length : "ad"}]
    <h3>hello world</h3>        
</div>