<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">

        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css" crossorigin="anonymous">
        <script src="lib/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div class="container-fluid">
            <h1>hello world</h1>
            <div ng-view></div>
        </div>
</body>
</html>