<!DOCTYPE html>
<html lang="en">
    <head>  
        <!-- Base tag is required for HTML5 like routing for ui-router -->
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">

        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css" crossorigin="anonymous">
        <script src="lib/jquery.js"></script>
        <script src="lib/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>

        
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-ui-router.js"></script>
        <script src="lib/uuid.js"></script>
        <script src="scripts/common/app.js"></script>
        <script src="scripts/common/routes.js"></script>
        <script src="scripts/common/config.js"></script>
        <script src="scripts/services/uuidService.js"></script>
        <script src="scripts/services/utilityService.js"></script>
        <script src="scripts/controllers/albumCtrl.js"></script>
        <script src="scripts/services/albumService.js"></script>
        <script src="scripts/directives/nItemsInRow.js"></script>
    </head>

    <body ng-app="pocketGita">
        <div class="container-fluid">
            <nav class="navbar navbar-default" style="margin-bottom: 0px">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Pocket Gita - Admin</a>
                </div>

                <div class="nav navbar-nav">
                    <li class="active"><a ui-sref="albumViewState">Album View</a></li>
                    <li><a ui-sref="trackViewState">Track View</a></li>
                </div>
            </nav>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ui-view></ui-view>
                </div>
            </div>
            </div>      
        </div>
    </body>
</html>