<html>
    <head>        
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <div style="margin-left: 10px;" class="container-fluid">
        <h3>Admin - Pocket Gita</h3>
        <h4 style="display: inline">Login to continue: </h4>
        <a href="/authorize"><button class="btn btn-primary">Login</button></a> 
    </div>
</html>