<!--<div action-status-message="adfd" controller="albCtrl" message="message"></div>-->

<form name="modifyAlbumForm" class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name*: </label>
        <div class="col-sm-10">
            <input id="name" ng-if="albCtrl.fieldsInEditMode" type="text" class="form-control" ng-model="albCtrl.album.name" required>
            <span ng-if="!albCtrl.fieldsInEditMode">{[albCtrl.album.name]}</span>
        </div>
    </div>

    <!--TODO: Add a call to name existing or not service & update status accordingly. Should disable submit button while request in progress-->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name in url (must be english)*: </label>
        <div class="col-sm-10">
            <div ng-if="albCtrl.fieldsInEditMode">
                <input id="name" type="text" class="form-control" ng-model="albCtrl.album.nameInUrl" required>
                <span>Ex. दुर्लभ मानव जीवन (Rare human life) can have "Name in url" as rareHumanLife.</span>
                <span>start with small letter, capitalize each word's first letter without spaces</span>
            </div>
            <span ng-if="!albCtrl.fieldsInEditMode">{[albCtrl.album.nameInUrl]}</span>
        </div>
    </div>

    <div class="form-group">
        <label for="thumbnailUrl" class="col-sm-2 control-label">Thumbnail URL: </label>
        <div class="col-sm-10">
            <div ng-if="albCtrl.fieldsInEditMode" class="input-group">
                <input id="thumbnailUrl" type="text" class="form-control" ng-model="albCtrl.album.thumbnailUrl">
                <div class="input-group-addon">Use existing</div>
                <div class="input-group-addon"><span class="glyphicon glyphicon-plus"></span>Add New</div>
            </div>
            <div ng-if="!albCtrl.fieldsInEditMode">
                <span ng-if="!albCtrl.album.thumbnailUrl">No thumbnail set yet</span>
                <img ng-if="albCtrl.album.thumbnailUrl" ng-src="{[albCtrl.album.thumbnailUrl]}" alt="Thumbnail Url">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="thumbnailUrl" class="col-sm-2 control-label">Description: </label>
        <div class="col-sm-10">
            <textarea ng-if="albCtrl.fieldsInEditMode" class="form-control" ng-model="albCtrl.album.description" rows="4"></textarea>
            <span ng-if="albCtrl.fieldsInEditMode">{[albCtrl.album.description]}</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div ng-if="albCtrl.fieldsInEditMode">
                <button class="btn btn-primary" ng-disabled="modifyAlbumForm.$invalid" ng-click="albCtrl.submitAddAlbum(albCtrl.album)">Submit</button>
                <button class="btn btn-danger" ng-click="albCtrl.cancelModifyAlbum()">Cancel</button>
            </div>
            <div ng-if="!albCtrl.fieldsInEditMode">
                <button class="btn btn-primary" ng-click="albCtrl.setupModifyAlbum(albCtrl.album)">Edit</button>
                <button class="btn btn-danger" ng-click="albCtrl.deleteAlbum()">Delete</button>
            </div>
        </div>
    </div>
</form>
