<div ng-controller="trackCtrl as trkCtrl">

    <div action-status-message controller="trkCtrl" message="message"></div>
    <!--<div ng-if="albCtrl.message" class="alert"  
        ng-class="{'alert-danger': albCtrl.message.type === 'error', 
            'alert-success': albCtrl.message.type==='success'}" role="alert">
        {[albCtrl.message.text]}
    </div>
-->
    <ui-view></ui-view>
</div>