<!--<div action-status-message="adfd" controller="trkCtrl" message="message"></div>-->

<form name="modifyTrackForm" class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name*: </label>
        <div class="col-sm-10">
            <input id="name" ng-if="trkCtrl.fieldsInEditMode" type="text" class="form-control" ng-model="trkCtrl.track.name" required>
            <span ng-if="!trkCtrl.fieldsInEditMode">{[trkCtrl.track.name]}</span>
        </div>
    </div>

    <!--TODO: Add a call to name existing or not service & update status accordingly. Should disable submit button while request in progress-->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Album: </label>
        <div class="col-sm-10">
            <input id="name" ng-if="trkCtrl.fieldsInEditMode" type="text" class="form-control" ng-model="trkCtrl.track.albumId">
            <span ng-if="!trkCtrl.fieldsInEditMode">{[trkCtrl.track.albumName]}</span>
        </div>
    </div>

    <div class="form-group">
        <label for="audioUrl" class="col-sm-2 control-label">Audio URL*: </label>
        <div class="col-sm-10">
            <div ng-if="trkCtrl.fieldsInEditMode" class="input-group">
                <input id="audioUrl" type="text" class="form-control" ng-model="trkCtrl.track.audioUrl" required>
                <div class="input-group-addon">Use existing</div>
                <div class="input-group-addon"><span class="glyphicon glyphicon-plus"></span>Add New</div>
            </div>
            <div ng-if="!trkCtrl.fieldsInEditMode">
                <img ng-src="{[albCtrl.track.audioUrl]}" alt="Audio Url">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div ng-if="trkCtrl.fieldsInEditMode">
                <button class="btn btn-primary" ng-disabled="modifyTrackForm.$invalid" ng-click="trkCtrl.submitAddOrEditTrack(trkCtrl.track)">Submit</button>
                <button class="btn btn-danger" ng-click="trkCtrl.cancelAddOrEditTrack()">Cancel</button>
            </div>
            <div ng-if="!trkCtrl.fieldsInEditMode">
                <button class="btn btn-primary" ng-click="trkCtrl.setupAddOrEditTrack(trkCtrl.constants.actions.edit, trkCtrl.track)">Edit</button>
                <button class="btn btn-danger" ng-click="trkCtrl.deleteTrack()">Delete</button>
            </div>
        </div>
    </div>
</form>
